USE [master]
GO

CREATE DATABASE [TP4SCS_DEV_Database]
GO

USE [TP4SCS_DEV_Database]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PasswordHash] [text] NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Phone] [varchar](10) NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[Dob] [date] NOT NULL,
	[ImageUrl] [text] NULL,
	[IsGoogle] [bit] NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[RefreshToken] [text] NULL,
	[RefreshExpireTime] [datetime] NULL,
	[OTP] [int] NULL,
	[OTPExpiredTime] [datetime] NULL,
	[FCMToken] [text] NULL,
	[CreatedByOwnerId] [int] NULL,
	[Role] [varchar](10) NOT NULL,
	[Status] [varchar](10) NOT NULL,
 CONSTRAINT [PK__Account__3214EC07432AA34E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountAddress]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountAddress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[WardCode] [varchar](15) NOT NULL,
	[Ward] [nvarchar](50) NOT NULL,
	[DistrictId] [int] NOT NULL,
	[District] [nvarchar](50) NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[Province] [nvarchar](50) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[Status] [varchar](15) NOT NULL,
 CONSTRAINT [PK__AccountA__3214EC07F1AB69AD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetURL]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetURL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusinessId] [int] NULL,
	[FeedbackId] [int] NULL,
	[MaterialId] [int] NULL,
	[ServiceId] [int] NULL,
	[OrderDetailId] [int] NULL,
	[TicketId] [int] NULL,
	[Url] [text] NOT NULL,
	[Type] [varchar](5) NOT NULL,
 CONSTRAINT [PK__AssetURL__3214EC079300F031] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BranchMaterial]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchMaterial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaterialId] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
	[Storage] [int] NOT NULL,
	[Status] [varchar](15) NOT NULL,
 CONSTRAINT [PK__BranchMa__3214EC07826EBA18] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BranchService]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchService](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceId] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
	[Status] [varchar](15) NOT NULL,
 CONSTRAINT [PK__BranchSe__3214EC076E2D6363] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessBranch]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessBranch](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusinessId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[WardCode] [varchar](15) NOT NULL,
	[Ward] [nvarchar](50) NOT NULL,
	[DistrictId] [int] NOT NULL,
	[District] [nvarchar](50) NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[Province] [nvarchar](50) NOT NULL,
	[EmployeeIds] [varchar](20) NULL,
	[PendingAmount] [int] NOT NULL,
	[ProcessingAmount] [int] NOT NULL,
	[FinishedAmount] [int] NOT NULL,
	[CanceledAmount] [int] NOT NULL,
	[IsDeliverySupport] [bit] NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Business__3214EC07D57F3A3E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessProfile]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessProfile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OwnerId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [varchar](10) NOT NULL,
	[ImageUrl] [text] NULL,
	[Rating] [decimal](3, 1) NOT NULL,
	[TotalOrder] [int] NOT NULL,
	[PendingAmount] [int] NOT NULL,
	[ProcessingAmount] [int] NOT NULL,
	[FinishedAmount] [int] NOT NULL,
	[CanceledAmount] [int] NOT NULL,
	[ToTalServiceNum] [int] NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[RegisteredTime] [datetime] NOT NULL,
	[ExpiredTime] [datetime] NOT NULL,
	[IsIndividual] [bit] NOT NULL,
	[IsMaterialSupported] [bit] NOT NULL,
	[IsLimitServiceNum] [bit] NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Business__3214EC07867FFFE1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessStatistic]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessStatistic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusinessId] [int] NOT NULL,
	[Value] [decimal](13, 1) NOT NULL,
	[Date] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[IsMonth] [bit] NOT NULL,
	[IsYear] [bit] NOT NULL,
	[Type] [varchar](15) NOT NULL,
 CONSTRAINT [PK__Business__3214EC07A5B61348] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__Cart__3214EC07497D5439] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
	[ServiceId] [int] NULL,
	[MaterialIds] [text] NULL,
	[Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__CartItem__3214EC071C7EB478] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderItemId] [int] NOT NULL,
	[Rating] [decimal](3, 1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Reply] [nvarchar](max) NULL,
	[CreatedTime] [datetime] NOT NULL,
	[IsValidContent] [bit] NOT NULL,
	[IsValidAsset] [bit] NOT NULL,
	[IsAllowedUpdate] [bit] NOT NULL,
	[Status] [varchar](10) NOT NULL,
 CONSTRAINT [PK__Feedback__3214EC07D3BE5420] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leaderboard]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leaderboard](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusinessIds] [text] NOT NULL,
	[Month] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[IsMonth] [bit] NOT NULL,
	[IsYear] [bit] NOT NULL,
 CONSTRAINT [PK__Leaderbo__3214EC0749455132] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[Status] [varchar](15) NOT NULL,
 CONSTRAINT [PK__Material__3214EC078ADD480B] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[AddressId] [int] NULL,
	[CreateTime] [datetime] NOT NULL,
	[CanceledTime] [datetime] NULL,
	[PendingTime] [datetime] NULL,
	[ApprovedTime] [datetime] NULL,
	[RevievedTime] [datetime] NULL,
	[ProcessingTime] [datetime] NULL,
	[StoragedTime] [datetime] NULL,
	[ShippingTime] [datetime] NULL,
	[DeliveredTime] [datetime] NULL,
	[FinishedTime] [datetime] NULL,
	[AbandonedTime] [datetime] NULL,
	[IsAutoReject] [bit] NOT NULL,
	[OrderPrice] [decimal](10, 2) NOT NULL,
	[DeliveredFee] [decimal](10, 2) NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[ShippingUnit] [nvarchar](50) NULL,
	[ShippingCode] [text] NULL,
	[Status] [varchar](15) NOT NULL,
	[IsComplained] [bit] NOT NULL,
 CONSTRAINT [PK__Order__3214EC075B1C3E19] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
	[ServiceId] [int] NULL,
	[MaterialIds] [text] NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[ProcessState] [nvarchar](100) NULL,
 CONSTRAINT [PK__OrderDet__3214EC07A222FADE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderNotification]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderNotification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[NotificationTime] [datetime] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[IsProviderNoti] [bit] NOT NULL,
 CONSTRAINT [PK__OrderNot__3214EC07E13A036C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackSubscription]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackSubscription](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusinessId] [int] NOT NULL,
	[PackId] [int] NOT NULL,
	[SubscriptionTime] [datetime] NOT NULL,
 CONSTRAINT [PK__PackSubs__3214EC07D5F910FD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlatformPack]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlatformPack](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Period] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Feature] [varchar](15) NULL,
	[Type] [varchar](15) NOT NULL,
 CONSTRAINT [PK__Platform__3214EC0752FA7B57] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlatformStatistic]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlatformStatistic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [decimal](13, 1) NOT NULL,
	[Date] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[IsMonth] [bit] NOT NULL,
	[IsYear] [bit] NOT NULL,
	[Type] [varchar](15) NOT NULL,
 CONSTRAINT [PK__Platform__3214EC07E138F06C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceId] [int] NOT NULL,
	[SaleOff] [int] NOT NULL,
	[NewPrice] [decimal](10, 2) NOT NULL,
	[Status] [varchar](15) NOT NULL,
 CONSTRAINT [PK__Promotio__3214EC07AF1B7597] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Rating] [decimal](3, 1) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[OrderedNum] [int] NOT NULL,
	[FeedbackedNum] [int] NOT NULL,
	[Status] [varchar](15) NOT NULL,
 CONSTRAINT [PK__Service__3214EC0795A96F1F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategory]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Status] [varchar](15) NOT NULL,
 CONSTRAINT [PK__ServiceC__3214EC0742A564FD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceProcess]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceProcess](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceId] [int] NOT NULL,
	[Process] [nvarchar](100) NOT NULL,
	[ProcessOrder] [int] NOT NULL,
 CONSTRAINT [PK__ServiceP__3214EC07DEB3D43A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportTicket]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportTicket](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ModeratorId] [int] NULL,
	[CategoryId] [int] NOT NULL,
	[OrderId] [int] NULL,
	[ParentTicketId] [int] NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[IsParentTicket] [bit] NOT NULL,
	[IsSeen] [bit] NOT NULL,
	[IsOwnerNoti] [bit] NOT NULL,
	[AutoClosedTime] [datetime] NULL,
	[Status] [varchar](10) NOT NULL,
 CONSTRAINT [PK__SupportT__3214EC07B02142A4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketCategory]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Priority] [int] NOT NULL,
	[Status] [varchar](15) NOT NULL,
 CONSTRAINT [PK__TicketCa__3214EC07FEE4DE0C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 12/12/2024 8:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[PackName] [nvarchar](50) NOT NULL,
	[Balance] [decimal](10, 2) NOT NULL,
	[ProcessTime] [datetime] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PaymentMethod] [varchar](10) NOT NULL,
	[Status] [varchar](15) NOT NULL,
 CONSTRAINT [PK__Transact__3214EC079D9F1F66] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsVerified]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsComplained]
GO
ALTER TABLE [dbo].[AccountAddress]  WITH CHECK ADD  CONSTRAINT [FK__AccountAd__Accou__412EB0B6] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[AccountAddress] CHECK CONSTRAINT [FK__AccountAd__Accou__412EB0B6]
GO
ALTER TABLE [dbo].[AssetURL]  WITH CHECK ADD  CONSTRAINT [FK__AssetURL__Busine__0F624AF8] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[BusinessProfile] ([Id])
GO
ALTER TABLE [dbo].[AssetURL] CHECK CONSTRAINT [FK__AssetURL__Busine__0F624AF8]
GO
ALTER TABLE [dbo].[AssetURL]  WITH CHECK ADD  CONSTRAINT [FK__AssetURL__Feedba__10566F31] FOREIGN KEY([FeedbackId])
REFERENCES [dbo].[Feedback] ([Id])
GO
ALTER TABLE [dbo].[AssetURL] CHECK CONSTRAINT [FK__AssetURL__Feedba__10566F31]
GO
ALTER TABLE [dbo].[AssetURL]  WITH CHECK ADD  CONSTRAINT [FK__AssetURL__Materi__114A936A] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[AssetURL] CHECK CONSTRAINT [FK__AssetURL__Materi__114A936A]
GO
ALTER TABLE [dbo].[AssetURL]  WITH CHECK ADD  CONSTRAINT [FK__AssetURL__OrderD__123EB7A3] FOREIGN KEY([OrderDetailId])
REFERENCES [dbo].[OrderDetail] ([Id])
GO
ALTER TABLE [dbo].[AssetURL] CHECK CONSTRAINT [FK__AssetURL__OrderD__123EB7A3]
GO
ALTER TABLE [dbo].[AssetURL]  WITH CHECK ADD  CONSTRAINT [FK__AssetURL__Servic__1332DBDC] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[AssetURL] CHECK CONSTRAINT [FK__AssetURL__Servic__1332DBDC]
GO
ALTER TABLE [dbo].[AssetURL]  WITH CHECK ADD  CONSTRAINT [FK__AssetURL__Ticket__14270015] FOREIGN KEY([TicketId])
REFERENCES [dbo].[SupportTicket] ([Id])
GO
ALTER TABLE [dbo].[AssetURL] CHECK CONSTRAINT [FK__AssetURL__Ticket__14270015]
GO
ALTER TABLE [dbo].[BranchMaterial]  WITH CHECK ADD  CONSTRAINT [FK__BranchMat__Branc__6477ECF3] FOREIGN KEY([BranchId])
REFERENCES [dbo].[BusinessBranch] ([Id])
GO
ALTER TABLE [dbo].[BranchMaterial] CHECK CONSTRAINT [FK__BranchMat__Branc__6477ECF3]
GO
ALTER TABLE [dbo].[BranchMaterial]  WITH CHECK ADD  CONSTRAINT [FK__BranchMat__Mater__6383C8BA] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[BranchMaterial] CHECK CONSTRAINT [FK__BranchMat__Mater__6383C8BA]
GO
ALTER TABLE [dbo].[BranchService]  WITH CHECK ADD  CONSTRAINT [FK__BranchSer__Branc__5FB337D6] FOREIGN KEY([BranchId])
REFERENCES [dbo].[BusinessBranch] ([Id])
GO
ALTER TABLE [dbo].[BranchService] CHECK CONSTRAINT [FK__BranchSer__Branc__5FB337D6]
GO
ALTER TABLE [dbo].[BranchService]  WITH CHECK ADD  CONSTRAINT [FK__BranchSer__Servi__5EBF139D] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[BranchService] CHECK CONSTRAINT [FK__BranchSer__Servi__5EBF139D]
GO
ALTER TABLE [dbo].[BusinessBranch]  WITH CHECK ADD  CONSTRAINT [FK__BusinessB__Busin__4BAC3F29] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[BusinessProfile] ([Id])
GO
ALTER TABLE [dbo].[BusinessBranch] CHECK CONSTRAINT [FK__BusinessB__Busin__4BAC3F29]
GO
ALTER TABLE [dbo].[BusinessProfile]  WITH CHECK ADD  CONSTRAINT [FK__BusinessP__Owner__47DBAE45] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[BusinessProfile] CHECK CONSTRAINT [FK__BusinessP__Owner__47DBAE45]
GO
ALTER TABLE [dbo].[BusinessStatistic]  WITH NOCHECK ADD  CONSTRAINT [FK__BusinessS__Busin__282DF8C2] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[BusinessProfile] ([Id])
GO
ALTER TABLE [dbo].[BusinessStatistic] CHECK CONSTRAINT [FK__BusinessS__Busin__282DF8C2]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK__Cart__AccountId__6D0D32F4] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK__Cart__AccountId__6D0D32F4]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK__CartItem__Branch__70DDC3D8] FOREIGN KEY([BranchId])
REFERENCES [dbo].[BusinessBranch] ([Id])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK__CartItem__Branch__70DDC3D8]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK__CartItem__CartId__6FE99F9F] FOREIGN KEY([CartId])
REFERENCES [dbo].[Cart] ([Id])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK__CartItem__CartId__6FE99F9F]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK__CartItem__Servic__71D1E811] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK__CartItem__Servic__71D1E811]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__OrderI__00200768] FOREIGN KEY([OrderItemId])
REFERENCES [dbo].[OrderDetail] ([Id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__OrderI__00200768]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK__Material__Servic__5AEE82B9] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK__Material__Servic__5AEE82B9]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__AccountId__75A278F5] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__AccountId__75A278F5]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__AddressId__76969D2E] FOREIGN KEY([AddressId])
REFERENCES [dbo].[AccountAddress] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__AddressId__76969D2E]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Branc__7A672E12] FOREIGN KEY([BranchId])
REFERENCES [dbo].[BusinessBranch] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__Branc__7A672E12]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Order__797309D9] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__Order__797309D9]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Servi__7B5B524B] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__Servi__7B5B524B]
GO
ALTER TABLE [dbo].[OrderNotification]  WITH CHECK ADD  CONSTRAINT [FK__OrderNoti__Order__245D67DE] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderNotification] CHECK CONSTRAINT [FK__OrderNoti__Order__245D67DE]
GO
ALTER TABLE [dbo].[PackSubscription]  WITH CHECK ADD  CONSTRAINT [FK__PackSubsc__Busin__1BC821DD] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[BusinessProfile] ([Id])
GO
ALTER TABLE [dbo].[PackSubscription] CHECK CONSTRAINT [FK__PackSubsc__Busin__1BC821DD]
GO
ALTER TABLE [dbo].[PackSubscription]  WITH CHECK ADD  CONSTRAINT [FK__PackSubsc__PackI__1CBC4616] FOREIGN KEY([PackId])
REFERENCES [dbo].[PlatformPack] ([Id])
GO
ALTER TABLE [dbo].[PackSubscription] CHECK CONSTRAINT [FK__PackSubsc__PackI__1CBC4616]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK__Promotion__Servi__693CA210] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [FK__Promotion__Servi__693CA210]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK__Service__Categor__534D60F1] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ServiceCategory] ([Id])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK__Service__Categor__534D60F1]
GO
ALTER TABLE [dbo].[ServiceProcess]  WITH CHECK ADD  CONSTRAINT [FK__ServicePr__Servi__571DF1D5] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[ServiceProcess] CHECK CONSTRAINT [FK__ServicePr__Servi__571DF1D5]
GO
ALTER TABLE [dbo].[SupportTicket]  WITH CHECK ADD  CONSTRAINT [FK__SupportTi__Categ__0A9D95DB] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[TicketCategory] ([Id])
GO
ALTER TABLE [dbo].[SupportTicket] CHECK CONSTRAINT [FK__SupportTi__Categ__0A9D95DB]
GO
ALTER TABLE [dbo].[SupportTicket]  WITH CHECK ADD  CONSTRAINT [FK__SupportTi__Moder__09A971A2] FOREIGN KEY([ModeratorId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[SupportTicket] CHECK CONSTRAINT [FK__SupportTi__Moder__09A971A2]
GO
ALTER TABLE [dbo].[SupportTicket]  WITH CHECK ADD  CONSTRAINT [FK__SupportTi__Order__0B91BA14] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[SupportTicket] CHECK CONSTRAINT [FK__SupportTi__Order__0B91BA14]
GO
ALTER TABLE [dbo].[SupportTicket]  WITH CHECK ADD  CONSTRAINT [FK__SupportTi__UserI__08B54D69] FOREIGN KEY([UserId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[SupportTicket] CHECK CONSTRAINT [FK__SupportTi__UserI__08B54D69]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK__Transacti__Accou__2180FB33] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK__Transacti__Accou__2180FB33]
GO
